@model SinglePageAppInMVCUsingViewModel.ViewModel.StudentViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div style="float:left; width:40%">
        @using (Html.BeginForm("AddStudent", "Student"))
        {
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(x => x.Student.Name)
                    @Html.TextBoxFor(x => x.Student.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Student.City)
                    @Html.TextBoxFor(x => x.Student.City, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Student.CountryId)
                    @Html.DropDownListFor(x => x.Student.CountryId, new SelectList(Model.CountryList ,"CountryId","CountryName"), new { @class = "form-control" })
                </div>
                <input type="submit" value="Save" class="btn btn-success"/>
            </div>
        }
    </div>

    <div style="float:right; width:60%">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StudentList)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.City</td>
                        <td>@item.CountryId</td>
                        <td>@Html.ActionLink("Edit","Edit",new {@id=item.Id },new {@class="btn btn-primary"})</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { @id = item.Id }, new { @class = "btn btn-danger"})</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*https://stackoverflow.com/questions/25988821/show-list-and-submit-form-on-same-view-in-mvc*@


